.contact-title{
text-align:center;
font-size:42px;
margin-bottom:50px;
color:#38bdf8;
}

.contact-form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
background:rgba(255,255,255,0.04);
padding:40px;
border-radius:15px;
border:1px solid rgba(255,255,255,0.1);
backdrop-filter:blur(12px);
}

.contact-form input,
.contact-form textarea{
padding:15px;
border:none;
outline:none;
border-radius:8px;
background:#020617;
color:white;
border:1px solid rgba(255,255,255,0.1);
}

.contact-form textarea{
height:150px;
resize:none;
}

.contact-form button{
padding:15px;
border:none;
border-radius:8px;
background:linear-gradient(
45deg,
#38bdf8,
#a855f7
);
color:white;
cursor:pointer;
transition:.3s;
}

.contact-form button:hover{
transform:scale(1.05);
}

.success-box{
background:#16a34a;
color:white;
padding:12px;
margin-bottom:15px;
border-radius:8px;
text-align:center;
animation:fadeIn .3s ease-in-out;
}

.error-box{
background:#dc2626;
color:white;
padding:12px;
margin-bottom:15px;
border-radius:8px;
text-align:center;
animation:fadeIn .3s ease-in-out;
}

.contact-form button{
margin-top:15px;
padding:10px 15px;
border:none;
border-radius:8px;
background:linear-gradient(90deg,#38bdf8,#8b5cf6);
color:white;
cursor:pointer;
transition:.3s;
}

.contact-form button:hover{
opacity:.8;
}

@keyframes fadeIn{
from{opacity:0; transform:translateY(-5px);}
to{opacity:1; transform:translateY(0);}
}