.section-title{
  text-align:center;
  font-size:44px;
  margin-bottom:70px;
  color:#38bdf8;
}

.service-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
}

.service-card{
  padding:40px;
  border-radius:18px;
  background:rgba(255,255,255,0.04);
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.08);
  transition:.4s;
}

.service-card:hover{
  transform:translateY(-12px);
  border-color:#38bdf8;
  box-shadow:0 0 40px rgba(56,189,248,.3);
}

.service-card h3{
  margin-bottom:15px;
}

.service-card p{
  color:#94a3b8;
  line-height:1.7;
}